## 04. Pandas
- 파이썬 기반의 강력하고 사용하기 쉬운 데이터 분석 및 조작 라이브러리

In [12]:
import pandas as pd

print(pd.__version__)

2.3.3

### Pands의 핵심 자료 구조
- Series
- DataFrame

### Series
- 인덱스(라벨)가 붙은 1차원 배열
- 인덱스 이름을 직접 지정할 수 있음

In [13]:
# 시리즈 생성
# 1. 리스트로 생성
data = [10,20,30,40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [14]:
# 2. 인덱스를 직접 지정
s = pd.Series(data, index=["a","b","c","d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [15]:
# 3. 딕셔너리로 생성
data = {'서울':100, '부산':200, '대구':300}
s = pd.Series(data)
print(s)

서울    100
부산    200
대구    300
dtype: int64

In [16]:
# 4. 하나의 값으로 시리즈 생성
s = pd.Series(7, index=["가", "나", "다"])
print(s)

가    7
나    7
다    7
dtype: int64

In [17]:
# 시리즈의 주요 속성
data = [10,20,30,40]
s = pd.Series(data, index=['a', 'b', 'c', 'd'], name='test data')

print("values:", s.values)      # 실제 데이터 배열
print("index:", s.index )       # 인덱스 객체
print("dtype:", s.dtype )       # 데이터 타입
print("size:", s.size )         # 데이터 개수
print("shape:", s.shape )       # 배열의 형태
print("name:", s.name )         # 시리즈 이름

values: [10 20 30 40]
index: Index(['a', 'b', 'c', 'd'], dtype='object')
dtype: int64
size: 4
shape: (4,)
name: test data

In [18]:
# 시리즈의 연산
s1 = pd.Series([10,20,30], index=['a','b','c'])
s2 = pd.Series([5,6,7], index=['c','b','a'])

result = s1 + s2
print(result)

a    17
b    26
c    35
dtype: int64

In [19]:
# 브로드 캐스팅
s = pd.Series([5,10,15])

print(s + 3)
print(s * 2)

0     8
1    13
2    18
dtype: int64
0    10
1    20
2    30
dtype: int64

In [20]:
# 불리언 연산 및 인덱싱
s = pd.Series([50,60,70,80,90,100])

mask = s >70
print(mask)
print(s[mask])

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool
3     80
4     90
5    100
dtype: int64

In [31]:
# <실습1>
# 1. 파이썬 리스트 [5, 10, 15, 20]을 이용해 Series를 생성하세요.
data1 = [5, 10, 15, 20]
s1 = pd.Series(data1)
print("1번\n", s1)
print()
# 2. 값 [90, 80, 85, 70]에 대해 인덱스를 각각 '국어', ' 영어', ' 수학', ' 과학'으로 지정한 Series를 만드세요.
data2 = [90,80,85,70]
s2 = pd.Series(data2, index=['국어','영어', '수학', '과학'])
print("2번\n", s2)
print()

# 3. {'서울': 950, '부산': 340 , '인천': 520} 딕셔너리를 이용해 Series를 만들고, 인천의 값을 출력하세요.
data3 = {'서울':950, '부산':340, '인천':520}
s3 = pd.Series(data3)
print("3번\n", s3)

1번
 0     5
1    10
2    15
3    20
dtype: int64

2번
 국어    90
영어    80
수학    85
과학    70
dtype: int64

3번
 서울    950
부산    340
인천    520
dtype: int64

In [38]:
# 4. Series [1, 2, 3, 4]를 만들고, 데이터 타입(dtype)을 출력하세요.
data4 = [1, 2, 3, 4]
s4 = pd.Series(data4)
print("4번", s4.dtype)
print()
# 5. 아래 두 Series의 합을 구하세요.
s5_1 = pd.Series([3, 5, 7], index=['a', 'b', 'c'])
s5_2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])

result = s5_1 + s5_2
print("5번\n", result)
print()

# 6. Series [1, 2, 3, 4, 5]의 각 값에 10을 더한 Series를 만드세요
s = pd.Series([1,2,3,4,5])

print("6번\n", s + 10)

4번 int64

5번
 a     NaN
b    15.0
c    27.0
d     NaN
dtype: float64

6번
 0    11
1    12
2    13
3    14
4    15
dtype: int64